<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Binary Function Tool</title>
<!--    <link rel="stylesheet" href="../static/style/style.css">-->
</head>
<body>
<main>
    <section>
        <h1>Binary Function Tool</h1>
<!--        <h2>Select amount of variables</h2>-->
<!--        <div id="variable-select-div">-->
<!--            <select id="variable-select">-->
<!--                <option class="variable-option" value="1">1</option>-->
<!--                <option class="variable-option" value="2">2</option>-->
<!--                <option class="variable-option" value="3">3</option>-->
<!--                <option class="variable-option" value="4">4</option>-->
<!--                <option class="variable-option" value="5">5</option>-->
<!--                <option class="variable-option" value="6">6</option>-->
<!--                <option class="variable-option" value="7">7</option>-->
<!--                <option class="variable-option" value="8">8</option>-->
<!--            </select>-->
<!--        </div>-->
        <input type="text" id="function-input" placeholder="Enter function">
        <button id="submit-button">Submit</button>
        <div id="truth-table-div">

        </div>
    </section>
</main>
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>