<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Binary Function Tool</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}"/>
    <link rel="stylesheet" href="../static/style/home-style.css"
          th:href="@{/style/home-style.css}"/>
</head>
<body data-page="home">
<header>
    <nav>

    </nav>
</header>
<main>
    <section id="intro-section">
        <h2>Binary Function Tool</h2>
    </section>
    <section id="input-section">
        <input type="text" id="function-input" placeholder="Enter function">
        <div id="submit-button-div" class="button">
            <h5>Submit</h5>
        </div>
    </section>
    <div id="formula-title">
        <h3 id="formula-title-text">Enter a formula</h3>
    </div>
    <section id="truth-table-section">
        <div id="example-table-div">
            <div id="example-title-div">
                <h4>Example: A+B</h4>
            </div>
            <div id="example-truth-table-div">
                <div class="truth-table-div">
                    <div class="variables-div">
                        <div class="variable-div">
                            <h4>A</h4>
                        </div>

                        <div class="variable-div">
                            <h4>B</h4>
                        </div>

                        <div class="variable-div function-cell">
                            <h4>f</h4>
                        </div>
                    </div>
                    <div class="truth-table-row">
                        <div class="truth-table-cell">
                            <h4>0</h4>
                        </div>

                        <div class="truth-table-cell">
                            <h4>0</h4>
                        </div>

                        <div class="truth-table-cell function-cell">
                            <h4>0</h4>
                        </div>
                    </div>
                    <div class="truth-table-row">
                        <div class="truth-table-cell">
                            <h4>0</h4>
                        </div>

                        <div class="truth-table-cell">
                            <h4>1</h4>
                        </div>

                        <div class="truth-table-cell function-cell">
                            <h4>1</h4>
                        </div>
                    </div>
                    <div class="truth-table-row">
                        <div class="truth-table-cell">
                            <h4>1</h4>
                        </div>

                        <div class="truth-table-cell">
                            <h4>0</h4>
                        </div>

                        <div class="truth-table-cell function-cell">
                            <h4>1</h4>
                        </div>
                    </div>
                    <div class="truth-table-row">
                        <div class="truth-table-cell">
                            <h4>1</h4>
                        </div>
                        <div class="truth-table-cell">
                            <h4>1</h4>
                        </div>
                        <div class="truth-table-cell function-cell">
                            <h4>1</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="footer-item">
        <h6>&copy 2024 Sigwarth Software</h6>
    </div>
    <div class="footer-item">
        <h6>Terms of Service</h6>
    </div>
</footer>
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>